/* COLORS */
:root{
  --primary-color: #ffffff;
  --secondary-color: linear-gradient(360deg,rgba(4, 57, 39, 1) 0%, rgba(0, 100, 0, 1) 86%);
  --tertiary-color: #006400;
}

/* APP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--secondary-color);
  background-attachment: fixed;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
  font-size: 32px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
  background-attachment: fixed;
} 