/* COLORS */
:root{
  --primary-color: #d9d9d9;
  --secondary-color: #394d19;
}

/* APP */

* {
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
  font-size: 32px;
  background-color: var(--secondary-color);
}

#app {
  display: flex;
  flex-direction: column;
} 